* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: sans-serif, 'Raleway';
}
:root {
    --primary: #49A2FA;
    --black: rgb(0, 0, 0);
    --color333: #333333;
    --white: #fff;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
.ss-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: linear-gradient(var(--primary), #fafafa);
}
/* Logo */
.ss-header-logo-icon {
    font-size: 5rem;
    color: var(--primary);
}
.ss-header-logo-text {
    user-select: none;
}
.ss-header-logo {
    display: flex;
    align-items: center;
}
.ss-header-logo-text-bold {
    font-size: 2.8rem;

    font-weight: bold;
}
.ss-header-text-daily {
    color: var(--black);
}
.ss-header-logo-text-shop {
    color: var(--primary);
    margin-left: -8px;
}
.ss-header-logo-text-thin {
    color: var(--color333);
    font-size: 1.2rem;
    font-weight: normal;
    letter-spacing: 1.5px;
}


/* Input search */
.ss-header-search {
    width: 500px;
    height: 40px;
    display: flex;
}
.ss-header-input-search {
    flex: 1;
    color: #555;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    height: 40px;
    outline: none;
    border: 1px solid var(--primary);
    padding: 10px 55px 10px 10px;
}
.ss-header-icon-search {
    width: 50px;
    height: 40px;
    color: var(--white);
    background-color: var(--primary);
    border: none;
    outline: none;
    cursor: pointer;
}
.ss-header-icon-search:hover {
    opacity: 0.8;
}

/* Giỏ hàng */
.ss-header-info {
    display: flex;
    align-items: center;
}
.ss-header-info-card {
    cursor: pointer;
    position: relative;
}
.ss-header-info-card-icon {
    text-align: center;
    position: relative;
}
.ss-header-info-card-number {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
    border-radius: 50%;
    font-size: 12px;
    color: var(--primary);
    font-weight: bold;
    padding: 2px 9px;
    animation:cartNumber 2s linear infinite ;
    border: 1px solid var(--primary);
}
.ss-header-info-card-icon i {
    font-size: 2.4rem;
    color: var(--primary);
    text-align: center;
}
.ss-header-info-card-title {
    font-size: 1.4rem;
    color: #555555;
}
@keyframes cartNumber {
    0% {
        transform: translate(-50%, 0);
    }
    25% {
        transform: translate(-50%, 2px);;
    }
    75% {
        transform: translate(-50%, -2px);;
    }
    100% {
        transform: translate(-50%, 0);;
    }

}
.ss-header-info-card:hover .ss-header-info-mycart {
    transform: scale(1);
}
.ss-header-info-mycart {
    position: absolute;
    background-color: var(--white);
    right: 0;
    border: 1px solid #E9E9E9;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    position: absolute;
    top: 100%;
    width: 300px;
    z-index: 9999;
    transition: all 0.2s linear;
    transform: scale(0);
    transform-origin: top right;
}
.ss-header-info-mycart::before {
    content: '';
    height: 12px;
    width: 100%;
    top: -12px;
    left: 0;
    position: absolute;
}
.ss-header-info-mycart::after {
    content: '';
    border-bottom:10px solid rgb(255, 255, 255);
    border-top:10px solid transparent;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    position: absolute;
    top: -20px;
    right: 45px;

}
.ss-mycart-item {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.ss-mycart-item-img {
    width: 80px;
    height: 95px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
}
.ss-mycart-item-info {
    flex: 1;
    text-align: center;
}
.ss-mycart-item-name {
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.ss-mycart-info-coin {
    font-size: 1.6rem;
}
.ss-mycart-info-delete-item {
    font-size: 1.2rem;
    border-radius: 50%;
    border: 1px solid transparent;
    padding: 2px 5px;
    color: #333;
    cursor: pointer;
    transition: all 0.25s linear;
}
.ss-mycart-info-delete-item:hover {
    border: 1px solid var(--primary);
    color: var(--primary);
}
.ss-mycart-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--black);
}
.ss-mycart-checkout {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.ss-mycart-btn-checkout {
    padding: 10px 20px;
    font-size: 1.6rem;
    color: var(--black);
    border: 1px solid #333;
    transition: all 0.25s linear;
}
.ss-mycart-btn-checkout:hover {
    color: var(--primary);
    border: 1px solid var(--primary);
}


.ss-header-info-user {
    position: relative;
}
.ss-header-info-user:hover .ss-header-info-user-hover {
    transform: scale(1);
}
.ss-header-info-user-avt {
    font-size: 2.4rem;
    color: var(--primary);
    margin-left: 20px;

    cursor: pointer;
}
.ss-header-info-user-hover {
    z-index: 999;
    position: absolute;
    width: 190px;
    top: 45px;
    padding: 10px 20px;
    border-radius: 10px;
    right: -15px;
    background-color: var(--white);
    box-shadow: 1px 0 5px #ccc;
    transform: scale(0);
    transition: all 0.2s linear;
    transform-origin: top right;
}
.ss-user-info-title {
    font-size: 1.6rem;
    color: var(--black);
    cursor: pointer;
    padding: 8px 0;

}
.ss-user-info-title:hover a{
    color: var(--primary);
}
.ss-header-info-user-hover::before {
    content: '';
    position: absolute;
    width: 30%;
    top: -20px;
    right: 0;
    height: 21px;
    background-color: transparent;
}
.ss-header-info-user-hover::after {
    content: '';
    border-bottom:10px solid rgb(255, 255, 255);
    border-top:10px solid transparent;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    position: absolute;
    top: -20px;
    right: 14px;
}