@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Shippori Antique B1', sans-serif;
}


.main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
}

.main .main-left{
    width: 20%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    left: 0;
    transition: all .2s linear;
    top: 0;
    background-color: #0C9DEB;
}


.main .main-left ul{
    position: relative;
    padding: 10px 0;
}

.home{
    transition: all .2s linear;
}

.main .main-left ul li:nth-child(1){
    margin-bottom: 30px !important;
}

.main .main-left ul li{
    position: relative;
    width: 100%;
    padding-left: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: flex-start;
}

.main .main-left ul li a{
    width: 100%;
    border-radius: 25px 0px 0px 25px;
    padding: 15px 20px;
    text-decoration: none;
    color: black !important;
}

.main .main-left ul li a em{
    position: relative;
    z-index: 100000;
}

.main .main-left ul a:hover{
    background-color: #cccccc;
    color: #0C9DEB !important;
}


.main .main-left ul li:hover a::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #0C9DEB;
    border-radius: 50%;
    top: -40px;
    right: 0px;
    box-shadow: 30px 30px 0 10px #cccccc;
}

.main .main-left ul li:hover a::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #0C9DEB;
    border-radius: 50%;
    bottom: -40px;
    right: 0px;
    box-shadow: 30px -30px 0 10px #cccccc;
}


.main .main-left.active li{
    padding-left: 5px;
    border-radius: 30px 0 0 30px;
}


.main .main-left ul li:nth-child(1) a em{
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}


.main-right{
    width: 80%;
    padding: 10px 30px;
    margin-left: 21.5%;
    background-color: #ccc;
    min-height: 100vh;
}


.main-right ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    background-color: white;
    border-radius: 5px;
}

.main-right ul li{
    text-align: center;
    padding: 10px 48px;
    cursor: pointer;
    transition: border-bottom .01s linear;
}

.main-right ul li:first-child{
    border-bottom: 2px solid #49a1fadf;
}


.main-right ul li a{
    color: black;
    text-decoration: none;
}

.main-right ul li:hover a{
    color: #49a1fadf !important;
}
.main-right .search{
    padding: 10px 60px 10px 0;
    position: relative;
}

.main-right .search input{
    width: 100%;
    padding: 10px 20px 10px 40px;
    font-size: 16px;
    border-radius: 2px;
    border: none;
    background-color: #eaeaea;
}

.main-right .search em{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px;
}

.main-right .product{
    margin: 10px 0px 0 0;
    padding: 20px 20px;
    background-color: white;
    border-radius: 2px;
}

.main-right .product .store{
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    border-bottom: .5px solid #ccc;
}

.main-right .product .store span{
    margin-right: 20px;
}

.main-right .product .store span em{
    margin-right: 5px;
}

.main-right .product .store a
{
    margin-right: 20px;
    padding: 5px 10px;
    background-color: #ee4d2d;
    border-radius: 2px;
    color: white;
    opacity: .9;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

.main-right .product .store a em{
    margin-right: 5px;
}

.main-right .product .store a:last-child{
    background-color: white;
    color: black;
    border: .5px solid #ccc;
    opacity: .5;
    font-weight: 300;
}

.main-right .product .store a:last-child em{
    font-size: 13px;
}

.product .product-item{
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 0;
    border-bottom: .5px solid #ccc;
}

.product .product-item img{
    width: 100px;
    height: auto;
    background-size: cover;
    margin-right: 20px;
}

.product .product-item .price{
    flex: 2;
    text-align: right;
}

.product .pay{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #fffefb;
}

.product .pay span img{
    width: 20px;
    cursor: pointer;
    height: auto;
    background-size: cover;
}

.product .pay span span{
    font-size: 13px;
    color: #ee4d2d;
    font-weight: bold;
    text-decoration: line-through;
}

.product .pay span:last-child{
    color: #ee4d2d;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
}

.product .pay .pay-function{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 20px;
}

.product .pay .pay-function a{
    text-decoration: none;
    font-size: 16px;
    padding:  10px 0;
    min-width: 180px;
    text-align: center;
    color: black;
    margin-left: 20px;
    border: .5px solid #ccc;
    border-radius: 2px;
    transition: all .1s linear;
}

.product .pay .pay-function a:hover{
    background-color: #eaeaea;
}

.product .pay .pay-function a:first-child{
    opacity: .4;
    background-color: #ccc;
}

.main-right .images{
    width: 100%;
    margin-top: 20px;
    height: 500px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

