* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --text: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --primary: #49A2FA;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    font-size: 62.5%;
}

.product-detail{
    background: rgba(250, 250, 250, 0.93);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
    margin-top: 50px;
}
.sm-product {
    width: 1200px;
    margin: auto;
    display: flex;
    background-color: #ffffff74;
    padding: 15px;
    border-radius: 5px;

}
.sm-product-left {
    width: 450px;
    flex-shrink: 0;
    overflow-x: hidden;

}
.sm-image-main {
    width: 100%;
    padding-top: 100%;

    background-size: cover;
    background-repeat: no-repeat;
}
.sm_container_image_list {
    position: relative;
    overflow: hidden;
}
.sm-image-list {
    display: flex;
    line-height: 92px;
    padding: 5px 0;
    margin: 0 -5px;
    list-style: none;
    transition: all 0.25s linear;
}
.prev_img {
    left: 10px;
}
.next_img {
    right: 10px;
}
.sm_btn_slider {
    position: absolute;
    z-index: 2;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    padding: 10px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: transparent;
    transform: translateY(-50%);
    color: var(--white);
    font-size: 2.5rem;
}
.sm-image-item {
    flex: 1 0 20%;
    height: 92px;
    padding: 5px;
}
.sm-item-pic {
    width: 100%;
    height: 100%;
    background-size: cover;
}


.sm-product-right {
    flex: 1;
    background-color: rgba(0, 0, 255, 0);
}
.sm-share {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.sm-share-network {
    display: flex;
    align-items: center;
    flex: 1;
    border-right: 1px solid #999;
}
.sm-share-text,
.state-text {
    color: var(--primary);
    font-size: 1.6rem;
}
.sm-share-icon i {
    line-height: 25px;
    font-size: 2.5rem;
    margin-left: 5px;
    display: flex;
    cursor: pointer;
    align-items: center;
}
.icon-mes {
    color: #4475c8;
}
.icon-fb {
    color: #3b5999;
}
.icon-insta {

}
.icon-twiter {
    color: #10c2ff;
}
.sm-reaction {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}
.icon-reaction {
    padding-right: 10px;
}
.icon-reaction i {
    font-size: 2.5rem;
    font-weight: 300;
    color: red;
}
.state-text {
    font-size: 1.6rem;
}
.sm-product-right {
    padding: 1.25rem 2.1875rem 0 2.9rem;
}
.product-name {
    font-size: 2rem;
    color: black;
    font-weight: 500;
}
.sm-info-item {
    padding: 0 15px;
    text-align: center;
    align-items: center;
}

.sm-information-product {
    display: flex;
    align-items: center;
    margin-top: 15px;

}
.sm-product-star {
    display: flex;
    align-items: center;
    color: var(--primary);
    border-right: 1px solid var(--primary);
}
.sm-star-list {
    display: flex;
    align-items: center;
}
.sm-product-vote {
    border-right: 1px solid var(--primary);
}
.sm-product-vote ,
.sm-product-cell {
    display: flex;

}
.sm-star-icon {
    margin: 1px;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    color: yellow;
}

.sm-star-number,
.sm-vote-number,
.sm-cell-number {
    font-weight: 700;
    font-size: 2rem;
    margin-right: 5px;
    color: var(--primary);
    border-bottom: solid 1px var(--primary);
}
.sm-cell-text,
.sm-vote-text {
    font-size: 1.8rem;
    color: var(--primary);
}

.sm-product-price {
    padding: 15px 20px;
    background-color: var(--white);
    display: flex;
    margin: 15px 0;
    align-items: center;
}
.price-prev {
    font-size: 1.6rem;
    text-decoration: line-through;
    color: #929292;
    margin-right: 10px;
}
.price-new {
    font-size: 3rem;
    color: #d0011b;
}
.price-percent-sale {
    margin-left: 15px;
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    background: #ee4d2d;
    border-radius: 2px;
    padding: 2px 4px;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
}
.product-content-text {
    min-width: 110px;
    max-width: 110px;
    margin-right: 20px;
    font-size: 1.6rem;
    color: black;
}
.sm-discount-code,
.mini-variation-list,
.sm-product-decal,
.sm-product-transport,
.sm-product-color,
.sm-product-size,
.sm-amount,
.btn-buy {
    display: flex;
    align-items: center;
    margin: 0 -10px;
    margin-bottom: 10px;
}
.mini-variation-item{
    font-size: 1.4rem;
    color: #D0011B;
    background-color: rgba(255,87,34,.1);
    padding: 4px 6px;
    margin:0 10px;
}
.free-product {
    display: flex;
    align-items: center;
}
.free-product-icon {
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
}
.transport-product-text {
    font-size: 1.4rem;
}
.space-color {
    color: rgba(0,0,0,.54);
    font-weight: 300;
    margin: 5px;
}
.transport-to,.transport-coin {
    display: flex;
    align-items: center;
}
.sm-select-list {
    display: flex;
    flex-wrap: wrap;

}
.select-item {
    padding: 4px 12px;
    margin: 0 8px 8px 0;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    min-width: 120px;
    color: var(--primary);
    background-color: var(--white);
    border: 1px solid var(--primary);
}
.select-item:hover {
    color: red;
    border-color: red;
}
.select-item.state-select {
    color: rgb(255, 0, 0);
    border-color: #d0011b;
}
.table-size {
    font-size: 1.6rem;
    color: var(--primary);
    cursor: pointer;
}
.changle-amount {
    display: flex;
    align-items: center;
}
.changle-amount div {
    font-size: 1.6rem;
    padding: 5px 15px;
}
.btn-reduction {
    border: 1px solid gray;
}

.btn-add,
.btn-prev {
    user-select:none;
}

.btn-add{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-prev{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btn-add:hover,
.btn-prev:hover{
    cursor: pointer;
    border: 1px solid var(--primary);
}

.btn-buy-item {
    padding: 10px 20px;
    font-size: 1.6rem;
    border-radius: 4px;
    margin: 0 10px;
    cursor: pointer;
}

.btn-buy{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-add-cart {
    color:#fff;
    background-color: var(--primary);
}

.btn-buy-now {
    color:#fff;
    background-color: var(--primary);
}
.btn-buy-now:hover{
    opacity: .7;
}

.btn-add-cart:hover{
    opacity: .7;
}

.sm-product-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.sm-product-bottom-item{
    display: flex;
    align-items: center;
}
.sm-bottom-icon i {
    color: #d0011b;
    font-size: 1.8rem;
    margin-right: 5px;
}

.sm-bottom-text {
    font-size: 1.6rem;
    color: var(--primary);
}

.sm-modal-table-size {
    transform:  scale(0);
    position: fixed;
    transition: all 0.2s linear;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.145);
}
.sm-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 720px;
    transform: translate(-50%, -50%);
}
.sm-img-size {
    width: 100%;
    object-fit: cover;
}